<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
{{!-- 
    {{#each slides}}


    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{@index}}" class="{{this.class}}" aria-current="true" aria-label="Slide 1"></button>

    {{/each}} --}}
     <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  
  
  
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="" aria-current="true" aria-label="Slide 1"></button>
  
  
  
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="" aria-current="true" aria-label="Slide 1"></button>
  
  
  
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="" aria-current="true" aria-label="Slide 1"></button>
  
    {{!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> --}}
  </div>
  <div class="carousel-inner">

<div class="carousel-item  active ">
        <img src="/image/pexels-kevin-ku-577585.jpg" class="d-block w-100 slider-image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>LEarn jav in very easy way</h5>
          <p>java is the most power full language</p>
        </div>
      </div>
      <div class="carousel-item   ">
        <img src="/image/pexels-christina-morillo-1181244.jpg" class="d-block w-100 slider-image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>what is  Django in python</h5>
          <p>Django is framework of python</p>
        </div>
      </div>
      <div class="carousel-item   ">
        <img src="/image/pexels-markus-spiske-2004161.jpg" class="d-block w-100 slider-image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>what is express</h5>
          <p>express is a  framework of nodejs</p>
        </div>
      </div>
      <div class="carousel-item   ">
        <img src="/image/pexels-christina-morillo-1181673.jpg" class="d-block w-100 slider-image" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>this is image added from database</h5>
          <p> database makes dynamic evrything</p>
        </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{{!-- <img src="/public/image/pexels-christina-morillo-1181673.jpg" alt=""> --}}